/* Color Variables */
:root {
  --primary-bg: #242424;
  --primary-text: #fff;
  --secondary-bg: #fff;
  --secondary-text: #242424;
}

/* Root Styles */
#root {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/* Logo Styles */
.logo {
  height: 3em;
  width: 50%; /* Adjust as needed */
  padding: 1.5em;
  will-change: filter;
  transition: filter 0.3s ease; /* Add transition effect */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #FF914D);
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap to a new line */
}

.nav-link {
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease; 
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-link:hover {
  background-color: #fff;
  color: #000;
}

.active-link {
  background-color: #fff;
  color: #000;
}

/* Login Page Styles */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Add padding as needed */
  color: #000;
}

/* Header Styles */
.app-header {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3em;
  max-width: 100%; /* Ensure the logo doesn't exceed its container */
  will-change: filter;
}
/* Theme Styles */
.app.light {
  background-color: var(--secondary-bg);
  color: var(--secondary-text);

  button,
  .navbar a {
    color: var(--secondary-text);
  }

  .navbar a:hover {
    color: var(--primary-text);
  }

  .navbar .active-link,
  .login-page,
  .text-field {
    color: var(--secondary-text);
  }
}

.app.dark {
  background-color: var(--primary-bg);
  color: var(--primary-text);

  .text-field {
    color: var(--primary-text);
  }
}

@media (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .nav-link {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
  }

  .login-page {
    padding: 0 10px; /* Adjust padding as needed */
  }

  
}
.bottom-navbar {
  background-color: var(--secondary-bg); 
