#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

/* Logo Styles */
.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #FF914D);
}

/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #fff;
  color: #000;
}

.active-link {
  background-color: #fff;
  color: #000;
}

/* Login Page Styles */
.Login-page {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100vw;
}

/* Header Styles */
.App-header {
  position: sticky;
}

/* Theme Styles */
.app.light {
  background-color: #fff;
  color: #242424;

  button {
    color: #242424;
  }

  .navbar a {
    color: #fff;
  }

  .navbar a:hover {
    color: #242424;
  }

  .navbar .active-link {
    color: #fff;
  }

  .Login-page {
    color: #242424;
  }

  .text-field {
    color: black;
  }
}

.app.dark {
  background-color: #242424;
  color: #fff;

  .text-field {
    color: white;
  }
}
